<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <div class="card shadow" style="width: 30rem; font-family: 'Manjari', sans-serif;">
                <img src="assets/img/fotosMain/foto1.jpeg" class="card-img-top" alt="Foto1" height="412">
                <div class="card-body">
                    <b><h5 class="card-title">Camilo Sanchez</h5></b>
                    <p class="card-text">De las cosas mas pequeñas, sale lo mas grandioso..</p>
                    <i class="fas fa-heart fa-2x mr-3" style="color: rgb(90, 90, 90)"></i>
                    <i class="fas fa-heart-broken fa-2x" style="color: rgb(90, 90, 90)"></i>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow" style="width: 30rem; font-family: 'Manjari', sans-serif;">
                <img src="assets/img/fotosMain/foto2.jpeg" class="card-img-top" alt="Foto2" height="412">
                <div class="card-body">
                    <h5 class="card-title">Laura Martinez</h5>
                    <p class="card-text">Que el tiempo no te robe tu vida.</p>
                    <i class="fas fa-heart fa-2x mr-3" style="color: rgb(90, 90, 90)"></i>
                    <i class="fas fa-heart-broken fa-2x" style="color: rgb(90, 90, 90)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <div class="card shadow" style="width: 30rem; font-family: 'Manjari', sans-serif;">
                <img src="assets/img/fotosMain/foto3.jpeg" class="card-img-top" alt="Foto3" height="412">
                <div class="card-body">
                    <h5 class="card-title">Santiago Perez</h5>
                    <p class="card-text">Muchas vecez solo necesitamos de nosotros mismos.</p>
                    <i class="fas fa-heart fa-2x mr-3" style="color: rgb(90, 90, 90)"></i>
                    <i class="fas fa-heart-broken fa-2x" style="color: rgb(90, 90, 90)"></i>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow" style="width: 30rem; font-family: 'Manjari', sans-serif;">
                <img src="assets/img/fotosMain/foto4.jpeg" class="card-img-top" alt="Foto4" height="412">
                <div class="card-body">
                    <h5 class="card-title">Samantha Mendoza</h5>
                    <p class="card-text">Solo tu #14</p>
                    <i class="fas fa-heart fa-2x mr-3" style="color: rgb(90, 90, 90)"></i>
                    <i class="fas fa-heart-broken fa-2x" style="color: rgb(90, 90, 90)"></i>
                </div>
            </div>
        </div>
    </div>
</div>