<nav class="navbar navbar-light" style="background-color: #CE1C00">
  <a class="navbar-brand" href="#">
  <img src="/assets/img/icono-blanco.png" width="40" height="40" class="d-inline-block align-middle" alt="">
    <span class="d-inline-block align-middle ml-2 mt-2" style="font-family: 'Gayathri', sans-serif; font-size: 30px; color: white"> Senastagram</span>
  </a>
  <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Iniciarr sesión</button>
</nav>

<router-outlet></router-outlet>
