<nav class="navbar navbar-light shadow rounded" style="background-color: #CE1C00" *ngIf="!usuario">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/camara-icono-blanco.png" width="40" height="40" class="d-inline-block align-middle" alt="">
    <span class="d-inline-block align-middle ml-2"
      style="font-family: 'Lobster', cursive; font-size: 40px; color: white"> Senagram</span>
  </a>
  <button type="button" class="btn btn-outline-light my-2 my-sm-0 " type="submit" data-toggle="modal"
    data-target="#exampleModal"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>
</nav>

<div class="modal fade shadow-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: rgba(238, 233, 233, 0.904); font-family: 'Gayathri', sans-serif;">
      <div class="float-right mr-2 mt-2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times-circle" style="color: white"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <span class="img-modal mb-3"> <img src="/assets/img/camara-color.png" alt="icono" width="70" height="70"></span>
        <h4 class="text-center"> Iniciar sesión</h4>
        <form (ngSubmit)="onInicio()" #formInicio="ngForm" class="formInicio">
            <h5 class="small">Correo electrónico:</h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="far fa-envelope"></i></div>
          </div>
          <input type="email" class="form-control-plaintext" [(ngModel)]="correoL" id="correoL" name="correoL">
        </div>
        <h5 class="small">Contraseña:</h5>
        <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-key"></i></div>
            </div>
            <input type="password" class="form-control-plaintext" [(ngModel)]="claveL" id="claveL" name="claveL">
          </div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
              <label class="custom-control-label" for="customControlAutosizing">Recuérdame</label>
              <a href="#" class="text-decoration-none float-right" style="color: #D76C5C">Olvidé mi contraseña</a>
            </div>
          
            <div class="float-right mt-4">
            <button class="btn btn-danger mr-3">Iniciar</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </form>
        </div>
  
</div>
</div>
</div>


<!--  Vista usuario iniciado -->

<nav class="nav justify-content-center sticky-top shadow-sm" style="background: #FFFFFF" *ngIf="usuario">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <!-- <img src="/assets/img/camara-color.png" alt="" width="40" height="40"> -->
    </a>
  </li>
  <li class="nav-item">
    <h2 class="mt-1" style="font-family: 'Lobster', cursive; font-size: 40px; color: #CE1C00"> Senagram</h2>
  </li>
  <li class="nav-item boton">
   
    <div class="btn-group">
      <a class="dropdown-toggle mt-2" style="color: #CE1C00" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-user fa-lg"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button" [routerLink]="['/perfil']">Mi perfil</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" type="button"><i class="far fa-question-circle"></i> Ayuda</button>
      </div>
    </div>
  </li>
</nav>



<router-outlet></router-outlet>
