
.img-modal{
    position: relative;
    left: 200px;
    bottom: 10px;
}

.input-group-text{
    color: #D76C5C;
    border-bottom: 1px solid #D76C5C;
    background: transparent;
}

.form-control-plaintext{
    border-bottom: 1px solid #D76C5C;
    color: #D76C5C;
    padding: 5px 20px;
}

.form-control-plaintext:focus{
    box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #D76C5C;
    background-color: #D76C5C;
  }

.formInicio{
    padding: 20px;
}

.modal{
    color: #CE1C00;
}

.opciones{
    position: absolute;
    right: 30px;
    margin-top: 10px;
}

