.reaccion{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 412px;
    left: 190px;
    padding: 10px;
}

.card{
    border: 1px solid #CE1C00;
}

.card-header{
    border-bottom: 1px solid #CE1C00;
}