<div class="container">
    <div class="row">
        <div class="card mb-3 mt-5" style="max-width: 1150px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="assets/img/fotosPerfil/fotoPerfil1.jpg" class="card-img" alt="Foto de Perfil">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Scarlett Johansson</h5>
                        <p class="card-text"><small class="text-muted">Actriz/Modelo</small></p>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                            perspiciatis,
                            placeat non, rem ipsum optio debitis tempora omnis soluta pariatur saepe reiciendis? Nam a
                            ad
                            excepturi commodi provident, blanditiis vel?Omnis tenetur reiciendis error impedit quasi a
                            possimus itaque eos explicabo magni ullam iure deserunt quisquam culpa sit, veritatis
                            nostrum
                            exercitationem? Quia, reprehenderit non! Numquam accusamus incidunt fugit consectetur
                            deleniti!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>