<h1 class="text-center mt-3" style="font-family: 'Gayathri', sans-serif;"> ¡Bienvenido a <span style="font-family: 'Lobster', cursive;"> Senagram!</span> </h1>
<h4 class=" text-muted ml-5 mt-3"> ¡Regístrate y comienza a navegar! </h4>
<p class="ml-5">Llena estos datos y listo.</p>
<div class="row">
<div class="col-7 ml-5">
    <form (ngSubmit)="onRegistro()" #formRegistro="ngForm" style="font-family: 'Gayathri', sans-serif;">
        <div class="row">
            <div class="col">
                <label for="formGroupExampleInput">Primer nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="nombre1" id="nombre1" name="nombre1" placeholder="Primer nombre">
            </div>
            <div class="col">
                <label for="formGroupExampleInput1">Segundo nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="nombre2" name="nombre2" id="nombre2" placeholder="Segundo nombre">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="formGroupExampleInput2">Primer apellido:</label>
                <input type="text" class="form-control" [(ngModel)]="apellido1" name="apellido1" id="apellido1" placeholder="Primer apellido">
            </div>
            <div class="col">
                <label for="formGroupExampleInput1">Segundo apellido:</label>
                <input type="text" class="form-control" [(ngModel)]="apellido2" name="apellido2" id="apellido2" placeholder="Segundo apellido">
            </div>
        </div>
        <div class="row mt-3">
            <label for="inputPassword" class="col-sm-3 col-form-label" >Correo Electrónico:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" [(ngModel)]="correo" name="correo" id="correo">
            </div>
        </div>
        <div class="row mt-3">
            <label for="inputPassword5" class="col-sm-3">Contraseña nueva:</label>
            <input type="password" [(ngModel)]="clave" name="clave" id="clave" class="form-control col-sm-6" id="clave">
            <small id="passwordHelpBlock" class="form-text text-muted col-sm-9">
                Tu contraseña debe tener de a 8-20 carácteres de largo con letras y números, y no debe contener
                espacios,
                o carácteres especiales.
            </small>
        </div>
            <br>
            <div>
            <label for="dia">Fecha de nacimiento: </label>
            <select class="custom-select custom-select-sm col-sm-2 ml-3 mr-3" id="dia">
                <option value=" ">Día</option>
                <option *ngFor="let dia of dia" [value]="dia"> {{ dia }} </option>
            </select>
            <select class="custom-select custom-select-sm col-sm-2 mr-3" id="mes">
                    <option value=" ">Mes</option>
                    <option *ngFor="let mes of mes" [value]="mes"> {{ mes }} </option>
            </select>
            <select class="custom-select custom-select-sm col-sm-2" id="ano">
                    <option value=" ">Año</option>
                    <option *ngFor="let ano of ano" [value]="ano"> {{ ano }} </option>
                </select>
           </div>
           <label for="formGroupExampleInput">Género:</label>
           <div class="custom-control custom-radio">
            <input type="radio" id="radioHombre" class="custom-control-input">
            <label class="custom-control-label" for="radioHombre">Hombre</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="radioMujer" class="custom-control-input">
            <label class="custom-control-label" for="radioMujer">Mujer</label>
          </div>
          <small class="form-text text-muted col-sm-9">
           Al darle Aceptar, aceptas los términos y condiciones de privacidad de <b>Senagram.</b>
        </small>
        <button class="btn btn-outline-danger float-right mt-3 mb-3 mr-5">Aceptar</button>
    </form>
</div>

<div class="col-3 ml-5 mt-5">
    <img src="assets/img/movil-1.png" alt="" width="412" height="412">
</div>
</div>




<footer class="bg-light" style="font-family: 'Gayathri', sans-serif;">
    <div class="row">
        <div class="col p-5">
            <i class="fas fa-map-marked-alt fa-lg mr-3" style="color: #CE1C00"></i> Calle 104 # 65 - 120
            <br>
            <span class="font-weight-bold ml-5">Medellín, Colombia </span>
            <br><br>
            <i class="fas fa-phone-alt fa-lg mr-3" style="color: #CE1C00"></i> 4448200 ext. 43520
            <br><br>
            <i class="far fa-envelope fa-lg mr-3" style="color: #CE1C00"></i> gpservicioalcliente@sena.edu.co
        </div>
        <div class="col pr-5 pl-5 pt-5">
            <h4 class="text-bold" style="color: #CE1C00"> Más sobre <span style="font-family: 'Lobster', cursive;"> Senagram</span> </h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, adipisci.
            </p>
            <i class="fab fa-facebook-square fa-2x mr-3" style="color: blue"></i>
            <i class="fab fa-instagram fa-2x mr-3" style="color: purple"></i>
            <i class="fab fa-youtube fa-2x" style="color: red"></i>
            <br><br><br>
            <p class="text-muted">&copy; Desarrollado por Natalia Garnica y Luis Pablo Góez</p>
        </div>
    </div>
</footer>

<!-- 
    fuentes:
        font-family: 'Manjari', sans-serif;
        font-family: 'Gayathri', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Kaushan Script', cursive;
     -->