.form1{
    background: rgba(41, 41, 41, 0.048);
    padding: 10px;
    font-family: 'Gayathri', sans-serif;
    box-shadow: 2px 2px 20px 5px #4140400e;
    margin-bottom: 50px;
  }
  
  .divform{
    border: 2px black;
  }

  .boton{
      position: absolute;
      left: 760px;
      bottom: 60px;
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #CE1C00;
    background-color: #CE1C00;
  }

 .boton{
    position: absolute;
    left: 650px;
    margin-top: 10px;
} 