<div class="container mt-5">
    <h1 class="text-center" style="font-family: 'Manjari', sans-serif;"> ¡Bienvenido a Senagram! </h1>
    <div class="row">
        <div class="col-8 mt-5">
            <form class="needs-validation" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01">Primer nombre:</label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombres" value=""
                            required>
                        <div class="valid-tooltip">
                            Se ve bien!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip01">Segundo nombre:</label>
                        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nombres" value=""
                            required>
                        <div class="valid-tooltip">
                            Se ve bien!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Primer apellido:</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Apellidos"
                            value="" required>
                        <div class="valid-tooltip">
                            Se ve bien!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationTooltip02">Segundo apellido:</label>
                        <input type="text" class="form-control" id="validationTooltip02" placeholder="Apellidos"
                            value="" required>
                        <div class="valid-tooltip">
                            Se ve bien!
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltipUsername">Correo electrónico</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                        </div>
                        <input type="email" class="form-control" id="validationTooltipUsername" placeholder="Username"
                            aria-describedby="validationTooltipUsernamePrepend" required>
                        <div class="invalid-tooltip">
                            Por favor escribe un correo electrónico válido.
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationTooltip03">City</label>
                        <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
                        <div class="invalid-tooltip">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip04">State</label>
                        <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
                        <div class="invalid-tooltip">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="validationTooltip05">Zip</label>
                        <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
                        <div class="invalid-tooltip">
                            Please provide a valid zip.
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
        </div>
        <div class="col-4">
            gh
        </div>
    </div>
</div>

<footer class="bg-light" style="font-family: 'Gayathri', sans-serif;">
    <div class="row">
        <div class="col p-5">
            <i class="fas fa-map-marked-alt fa-lg mr-3"></i> Calle 104 # 65 - 120
            <br>
            <span class="font-weight-bold ml-5">Medellín, Colombia </span>
            <br><br>
            <i class="fas fa-phone-alt fa-lg mr-3"></i> 4448200 ext. 43520
            <br><br>
            <i class="far fa-envelope fa-lg mr-3"></i> gpservicioalcliente@sena.edu.co
        </div>
        <div class="col pr-5 pl-5 pt-5">
            <h4 class="text-bold"> Más sobre Senastagram </h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, adipisci.
            </p>
            <i class="fab fa-facebook-square fa-2x mr-3"></i>
            <i class="fab fa-instagram fa-2x mr-3"></i>
            <i class="fab fa-youtube fa-2x"></i>
            <br><br><br>
            <p class="text-muted">&copy; Desarrollado por Natalia Garnica y Luis Pablo Góez</p>
        </div>
    </div>
</footer>

<!-- 
        font-family: 'Manjari', sans-serif;
    font-family: 'Gayathri', sans-serif;
     -->